:host{
    position: sticky;
    top:0px;
    left: 0px;
    width: 100%;
    z-index:1000;
}
h1{
    text-align: center;
    color: #fafafa;
}
.afg{
    font-family: normal normal normal 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
}