
@mixin align-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.parallax_wrapper::-webkit-scrollbar {
    display: none;
}

  
  /* Hide scrollbar for IE, Edge and Firefox */
.host {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.parallax_wrapper{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    height:100vh;
    overflow-x:hidden;
    overflow-y: auto;
    perspective: 600px;
    
    .parallax_group{
        position: relative;
        top:0px;
        height:100vh;
        transform-style: preserve-3d;
        .parallax_layer{
            position:absolute;
            inset:0;
         //   width:100vw;
            @include align-center;
        }
        .mid_layer{
            color: #fafafa;
        }
        .base_layer{
            transform: translateZ(-600px) scale(2)
        }
        .top_layer{
            justify-content: start;
            align-items: center;
           
        }
        
    }
}
