<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div class="skills"><h1>Skills</h1></div>
<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" style="width:100vw;" >

    
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center" style="padding:10px">
        <div  class="bg-skills" style="width: 90px; height: 90px;" fxLayout="row" fxLayoutAlign="center center" >
            <img src="/assets/angular.svg" height="auto" width="60%"  style="object-fit: cover; object-position: 50% 50%;" >
        </div>
        <div>
            <span class="required">*</span>
        </div>
        
    </div>
    <div  fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center" style="padding:10px" >
        <div  class="bg-skills" style="width: 90px; height: 90px;" fxLayout="row" fxLayoutAlign="center center">
            <img src="/assets/spring-boot-desc.png" height="auto" width="60%" style="object-fit: cover; object-position: 50% 50%;">
        </div>
    </div>
    <div  fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center" style="padding:10px">
        <div  class="bg-skills" style="width: 90px; height: 90px;" fxLayout="row" fxLayoutAlign="center center">
            <img src="/assets/git.svg" height="auto" width="60%" style="object-fit: cover; object-position: 50% 50%;" >
        </div>
        
    </div>
    <div  fxFlex="1 1 auto"  fxLayout="row" fxLayoutAlign="center" style="padding:10px">
        <div class="bg-skills" style="width: 90px; height: 90px;" fxLayout="row" fxLayoutAlign="center center" > 
            <img src="/assets/mysql.svg" height="auto" width="60%" style="object-fit: cover; object-position: 50% 50%;">
        </div>
       
    </div>
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center" style="padding:10px">
        <div  class="bg-skills" style="width: 90px; height: 90px;" fxLayout="row" fxLayoutAlign="center center" >
            <img src="/assets/nginx.svg" height="auto" width="60%"  style="object-fit: cover; object-position: 50% 50%;" >
        </div>
    </div>
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center" style="padding:10px">
        <div  class="bg-skills" style="width: 90px; height: 90px;" fxLayout="row" fxLayoutAlign="center center" >
            <img src="/assets/java.svg" height="auto" width="60%"  style="object-fit: cover; object-position: 50% 50%;" >
        </div>
    </div>

</div>

</div>

