@mixin skills-set-theme($theme){
    app-skills-set{
        $background: map-get($theme, accent );
       
        background-color: mat-color($background, 50);

        .skills{
            $color: map-get($theme, primary );
            font-size: 15px;
            color: mat-color($color, A100, 50);
            letter-spacing: 0.2em;
        }
        .bg-skills{
            $color: map-get($theme, primary );
            background-color: mat-color($color, A100, 50);
            border-radius: 50%;
            
        }

    }
}
@mixin skills-set-typography($config){
    app-skills-set{
        font-family: mat-font-family($config);
        font-weight: mat-font-weight($config, title);
        line-height: mat-line-height($config, title);
    }
}